.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 14px 0;
  background: #e5a616;
}
.social-icons {
  margin-bottom: 10px;
}
.social-icons svg {
  margin-right: 12px;
}
.social-icons svg:last-child {
  margin-right: 0;
}
.footer-text {
  font-size: 10px;
  color: #333;
}
@media (min-width: 1440px) {
  .social-icons svg {
    cursor: pointer;
  }
  .social-icons svg path {
    transition: all 0.2s ease;
  }
  .social-icons svg:hover path {
    fill: #fff;
  }
}
